<p>logina works!</p>
<form [formGroup]="lgForm" (ngSubmit)="fSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Username"
            aria-describedby="emailHelp">
        <div id="emailHelp" *ngIf="lgForm.get('Username').touched " class="form-text">email is not valid.</div>

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword11" formControlName="Password">
        <!-- <span *ngIf="lgForm.get('password').touched&& lgForm.get('password').hasError('maxlength')">Email required</span>-->
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn bg-primary">Reset</button>
    <button type="button" (click)="refreshtoken()" >RefreshToken </button>
</form>

